.root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", "Work Sans", sans-serif;
}

.star {
  font-size: xxx-large;
}

.star-hover-yellow {
  cursor: pointer;
  color: rgb(255, 255, 128);
}

.star-yellow {
  color: yellow;
}

.star-black {
  color: black;
}

.rating{
  text-align: center;
  font-family: "Work Sans", "Work Sans", sans-serif;
}